<p-panel header="Title">
  <div class="ui-fluid">
    <div class="ui-g">
      <div class="ui-g-2 ui-md-4 ui-sm-12">
        <div  class="align-button">
            <button (click)='openDialogInputSingleLine()' pButton type="button" label="Single Line Text" class="ui-button-raised"></button>
            <button (click)='openDialogInputParagraph()' pButton type="button" label="Paragraph Text" class="ui-button-raised"></button>
            <button (click)='openDialogInputMultipleChoice()' pButton type="button" label="Multiple Choice" class="ui-button-raised"></button>
            <button (click)='openDialogInputRadioButtons()' pButton type="button" label="radiobuttons" class="ui-button-raised"></button>
            <button (click)='openDialogInputDropDown()' pButton type="button" label="Drop Down" class="ui-button-raised"></button>
        </div>
      </div>
      <div class="ui-g-10 ui-md-8 ui-sm-12">
        <task-form-container></task-form-container>
      </div>
    </div>
  </div>
</p-panel>